<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.nkzawa.socketio.androidchat"
    android:sharedUserId="com.myApp.sharedUserId"
    android:process="com.myApp.process">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:hardwareAccelerated="false"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Couple Chat"
        android:theme="@style/MyTheme"
       >

        <activity
            android:name="com.ankymtan.couplechat.activity.ActivityMain"
            android:label="Couple Chat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ankymtan.couplechat.activity.ActivityWelcome"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <activity
            android:name="com.ankymtan.couplechat.activity.ActivityEditProfile">
        </activity>
        <activity
            android:name="com.ankymtan.couplechat.activity.ActivityChat">
        </activity>
    </application>
</manifest>
